/* import google fonts */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto|Tangerine|Source Sans 3:bold&display=swap');


:root {
    /* Make sure variables are defined in the root context so available everywhere */
    /*  fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;
    --cursive-font: 'Tangerine', serif;

    /* colors */
    --background: #000;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;
    --grey: #777777;
    --grey2: #999999;
    --red: #FF0000;
    --green: #97aa88aa;
    /* utils */
    /* used for forms */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
}

/* classes for background colors used on its own for styling and not part of another class */


html, body {
    /* use the entire height */
    height: 100%;
    background-color: black;
}

body {
    /* body should use main-font as the font, and use flex display for flexibility */
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    /* appply to the main section. I.e. the part of the page that is not a part of base.html 
        Background should always be black
        Text should always be white
    */
    flex: 1 0 auto;
    background-color: var(--black);
    color: var(--white);
}

.core-divs {
    /* makes the main divs slightly opaque and rounded, and sets the main text color */
    /*background-color: var(--grey2);*/
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,h2,h3,h4,h5,h6 {
    /* all headers should use the title-font 
        and be red unless overridden
    */
    font-family: var(--title);
    color: var(--red);
}

p {
    /* all paragraphs should be red */
    color: var(--red);
}

.center {
    text-align: center;
    padding: 10px;
}