{% extends "base.html" %}
{% load static %}
{% block title %}Gone{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 core-divs">
            <div class="center">
                <a href="/">
                    <img src="{% static 'images/mamma2.webp' %}" class="w-100 h-25 border border-dashed rounded-5" width="600" height="800" alt="Mamma" />
                </a>
            </div>
        </div>
        <div class="col-6 core-divs">
            <div class="center">
                <p>&nbsp;Once they're gone, they're gone...
                <ul class="list-unstyled">
                    <li>Once they're gone, you'll wish you'd hugged a little tighter, a little longer.</li>
                    <li>Once they're gone, you'll wish you'd made that phonecall you never got around to making.</li>
                    <li>Once they're gone, you'll wish you had made the effort to just sit with them.</li>
                    <li>Once they're gone, you'll wish you could hear their voice one last time.</li>
                    <li>Once they're gone, you'll regret those silly arguments that will suddenly seem so trivial.</li>
                    <li>Once they're gone, you'll regret not saying sorry when you had the chance.</li>
                    <li>Once they're gone, you'll regret not doing more with them when you had the time.</li>
                    <li>Once they're gone, you'll regret the times you didn't prioritize them the way you should have.</li>
                    <li>Once they're gone, you'll remember how special they were.</li>
                    <li>Once they're gone, you'll remember their light.</li>
                    <li>Once they're gone, you'll remember all the happy moments and suddenly forget all the moments you should have let go of a long time ago.</li>
                    <li>Once they're gone, you'll realise that everything else you were worrying about or trying to get done didn't even matter.</li>
                    <li>Once they're gone, you'll wish you had let them know just how much they meant to you.</li>
                    <li>Once they're gone, they'll forever remain in your heart.</li>
                    <li>But it's never the same as having them with you.</li>
                    <li>Don't ever take for granted what tomorrow will make you wish you hadn't.</li>
                </ul>
                <p>Because once they're gone, they are gone...</p>
            </div>
        </div>
    </div>
</div>
                {% endblock content %}


