{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="center">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/svartbacken.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Svartbackens vardhem" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/birth.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Fodelsecertifikat" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/flower.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Flower" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/at_peace.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="At peace" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/survive.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Survived" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/momchat.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="No chat" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/back2life.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="I wish" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/comeback.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Come back" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/my_mind.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="My mind" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/cant_understand.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Cant understand" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/explain.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Cant explain" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/fake_grief.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="We do not fake grief" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/justaword.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Just a word" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/grief1.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Grief" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/hard_day.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="A hard day" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/memories.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Memories" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/parent.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Losing a parent" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/foreverloved.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Forever loved" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/grief2.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Grief" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/i_wish.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="I wish" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/gone.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Loving the gone" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/lastgoodbye.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Our last goodbye" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/lilleskutt.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Tears" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/madeawish.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Made a wish" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/missing.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Missing you" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/no_healing.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="No healing" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/missu.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Miss you" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/new_chapter.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="New chapter" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/not_forget.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Not forget" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/not_ready.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Not ready" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/presence.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Presence" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/really_empty.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="Really empty" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/rush.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="People rush" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/phonecall.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="For a split second..." />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/strong.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="To be strong" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/my_old_life.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="My old life" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/comittee.webp' %}" class="d-block w-50 border border-dashed rounded-5" alt="The committee weighs in" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {% endblock content %}