{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="center">
    <h1>Vila i Frid, &Auml;lskade Mamma</h1>
    <p>15/4 1952 -- 12/5 2024</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 core-divs">
            <div class="center">
                <a href="grief">
                    <img src="{% static 'images/mamma2.webp' %}" class="w-100 h-25 border border-dashed rounded-5" width="600" height="800" alt="Mamma" />
                </a>
            </div>
        </div>
        <div class="col-6 core-divs">
            <div class="center">
                Hej mamma,
                <p>Du kan inte l&auml;sa det h&auml;r, men jag skriver det &auml;nd&aring;.</p>
                <p>Livet &auml;r or&auml;ttvisst. Du borde ha haft fler &aring;r att leva och m&aring; bra under de &aring;ren.</p>
                <p>Det g&aring;r inte en dag d&aring; jag inte t&auml;nker p&aring; att jag kunde gjort mer for att underl&auml;tta for dig. Eller att jag kunde ha gett dig den livskvalitet du fortj&auml;nade efter allt du gjort for alla. Du t&auml;nkte alltid p&aring; andra framfor dig sj&auml;lv. </p>
                <p>Vi fick aldrig chansen att s&auml;ga "Hej d&aring;" ordentligt d&aring; &aring;tminstonde jag trodde vi hade mer tid p&aring; oss. Men s&aring; &auml;r det v&auml;l alltid.</p>
                <p>
                    Jag saknar dig, konstant. Jag saknar v&aring;ra samtal om allt och inget, ditt stod i allt oavsett om du holl med eller inte.
                    Och sm&aring;saker som att kolla p&aring; skitprogram p&aring; TV tillsammans och gn&auml;lla p&aring; hur korkade de &auml;r.
                </p>
                <p>Men framforallt s&aring; saknar jag min b&auml;sta v&auml;n oavsett hur "lojligt" det l&aring;ter, men det var det du var.</p>
                <p>Det har g&aring;tt lite over en m&aring;nad sedan jag fick det v&auml;rsta besked man kan f&aring;, men det k&auml;nns fortfarande som det h&auml;nde ig&aring;r.</p>
                <p>Jag saknar v&aring;ra dagliga samtal bara for att hora hur det &auml;r &auml;ven om det inte var mer &auml;n s&aring; vi sade.</p>
                <p>Jag vet att du vet det, men jag s&auml;ger det &auml;nd&aring;: jag &auml;lskar dig mamma.</p>
                <p>Det b&auml;sta, om &auml;n fel ord, &auml;r att du inte behover ha ont l&auml;ngre. Det &auml;r det vi som &auml;r kvar i tomrummet du l&auml;mnar m&aring;ste ta med oss. Men det &auml;r sv&aring;rt.</p>
                <p>Vila i frid b&auml;sta mamma, jag &auml;lskar och saknar dig!</p>
                <p>Vi ses i Nangrijala!</p>

            </div>
        </div>
    </div>
</div>
                {% endblock content %}
