{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Minnessida för Lisbeth Thorell">
    <meta name="keywords" content="memorial">
    <meta name="author" content="Jonas Thorell">
    {% block extra_css %}

    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- materialize bootstrp -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" type="text/css">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel='shortcut icon' type='image/x-icon' href="{% static 'icons/favicon.ico' %}">


    <!-- default title. Will be overwritten by specific pages -->
    <title>Mammas minnessida</title>
    {% block extra_head %}
    {% endblock %}

</head>

<body>

    {% block body %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>


    {% block onload_js %}
    <!-- MDB -->
    <script src="{% static 'javascript/mdb.umd.min.js' %}">
    </script>

    {% endblock %}
    {% endblock %}


</body>
</html>